---
version: "3.3"
services:
  jenkins:
    build: .
    privileged: true
    restart: always
    user: root
    ports:
      - 8080:8080
    container_name: jenkins
    volumes:
      - /var/run/docker.sock:/var/run/docker.soc×œ
      - jenkins_data:/var/jenkins_home/
volumes:
  jenkins_data: 
